<a href="https://colab.research.google.com/github/LaiTriMinh/project/blob/main/project/Final%20Project/Create_sav.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [ ]:
smoothie_dataset = pd.read_csv('/content/Book2.csv')

In [ ]:
smoothie_dataset.head()

   EMOTION  AGE  GENDER  Outcome
0        2   28       0       22
1        9   54       0       39
2        2    2       0        2
3        3   46       1       33
4        4   17       1       14

In [ ]:
smoothie_dataset.shape

(2999, 4)

In [ ]:
smoothie_dataset.describe()

           EMOTION          AGE       GENDER      Outcome
count  2999.000000  2999.000000  2999.000000  2999.000000
mean      5.488163    39.653218     0.505502    64.127709
std       3.471572    22.708447     0.500053    89.733733
min       0.000000     1.000000     0.000000     0.000000
25%       2.000000    20.000000     0.000000    23.000000
50%       5.000000    39.000000     1.000000    33.000000
75%       9.000000    59.000000     1.000000    38.000000
max      11.000000    79.000000     1.000000   311.000000

In [ ]:
smoothie_dataset['Outcome'].value_counts()

38     170
310    163
30     162
34     162
39     161
31     151
33     150
36     149
37     145
32     145
311    145
35     139
11      74
110     53
23      51
14      49
12      47
16      47
10      46
19      46
111     45
17      44
210     44
24      43
22      41
25      40
26      40
21      40
20      39
13      39
18      38
29      37
211     33
28      32
27      32
15      31
2       19
3       15
4       12
9       12
6       12
1       12
5       12
0       11
7       11
8       10
Name: Outcome, dtype: int64

In [ ]:
smoothie_dataset.groupby('Outcome').mean()

           EMOTION        AGE    GENDER
Outcome
0         0.000000   2.000000  0.727273
1         1.000000   3.000000  0.916667
2         2.000000   2.684211  0.421053
3         3.000000   2.266667  0.600000
4         4.000000   2.833333  0.250000
5         5.000000   2.583333  0.750000
6         6.000000   3.083333  0.500000
7         7.000000   2.636364  0.545455
8         8.000000   2.700000  0.400000
9         9.000000   2.416667  0.416667
10        1.956522   8.695652  0.391304
11        3.432432   9.094595  0.594595
12        2.000000  11.808511  0.446809
13        3.000000  11.230769  0.717949
14        4.000000  11.612245  0.489796
15        5.000000  11.677419  0.451613
16        6.000000  11.829787  0.446809
17        7.000000  11.477273  0.431818
18        8.000000  12.342105  0.500000
19        9.000000  11.195652  0.500000
20        0.000000  24.102564  0.410256
21        1.000000  25.275000  0.625000
22        2.000000  24.536585  0.463415
23        3.000000  24.803922  0.490196
24        4.000000  25.465116  0.534884
25        5.000000  24.275000  0.525000
26        6.000000  24.500000  0.525000
27        7.000000  24.312500  0.468750
28        8.000000  24.500000  0.468750
29        9.000000  24.783784  0.405405
30        0.000000  55.456790  0.561728
31        1.000000  54.185430  0.536424
32        2.000000  56.427586  0.489655
33        3.000000  55.340000  0.513333
34        4.000000  52.067901  0.444444
35        5.000000  53.892086  0.489209
36        6.000000  54.610738  0.536913
37        7.000000  54.710345  0.482759
38        8.000000  53.458824  0.547059
39        9.000000  56.975155  0.403727
110      10.000000  11.339623  0.490566
111      11.000000  11.200000  0.555556
210      10.000000  24.727273  0.522727
211      11.000000  24.636364  0.515152
310      10.000000  54.116564  0.521472
311      11.000000  55.641379  0.531034

In [ ]:
X = smoothie_dataset.drop(columns = 'Outcome', axis=1)
Y = smoothie_dataset['Outcome']

In [ ]:
print(X)

      EMOTION  AGE  GENDER
0           2   28       0
1           9   54       0
2           2    2       0
3           3   46       1
4           4   17       1
...       ...  ...     ...
2994        2   11       0
2995        3   11       1
2996        5   40       0
2997        4   29       1
2998        6   53       1

[2999 rows x 3 columns]

In [ ]:
print(Y)

0       22
1       39
2        2
3       33
4       14
        ..
2994    12
2995    13
2996    35
2997    24
2998    36
Name: Outcome, Length: 2999, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(2999, 3) (2399, 3) (600, 3)

In [ ]:
classifier = svm.SVC(kernel='linear')

In [ ]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [ ]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.9153814089203834

In [ ]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.915

In [ ]:
input_data = (2,27,1)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 22):
  print('Whats wrong an Orange Smoothie will help you out')
else:
  print('lets see')

[22]
Whats wrong an Orange Smoothie will help you out

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [ ]:
import pickle

In [ ]:
filename = 'smoothies_model.sav'
pickle.dump(classifier, open(filename, 'wb'))

In [ ]:
# loading the saved model
loaded_model = pickle.load(open('/content/smoothies_model.sav', 'rb'))

In [ ]:
input_data = (3,46,1)
              
# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = loaded_model.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 32):
  print('Whats wrong an Orange Smoothie will help you out')
elif (prediction[0] == 10):
  print('Whats wrong an Orange Smoothie will help you out')

else:
  print('lets see')

[33]
lets see

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [ ]:
for column in X.columns:
  print(column)

EMOTION
AGE
GENDER